<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>おみくじ</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <div class="omikuji">
        <h1 class="omikuji_headline">おみくじ</h1>
        <div class="omikuji_result">
            <img id="omikuji_image" src="../images/omijikuji_case.png" alt="おみくじ">
        </div>
        <button type="button" class="omikuji_button" id="play_button">START</button>
    </div>

    <!-- JS -->
    <script src="../js/script.js"></script>

</body>

</html>